* {
    font-family: monospace;
}

.test {
    text-align: center
}

.buttons {
    text-align: center;
    
}

.quizBox {
    text-align: center;
}

.answersBox {
    font-size: 24px;
}

#welcome {
    text-align: center;
    font-size: 34px;
}

#timerPlaceholder {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 24px;
}

#questionPlaceholder {
    font-size: 34px;
}

